@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@300&family=Orbitron:wght@400..900&family=Roboto:wght@700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;

}

body{
    /*fundo degrade*/
    background-image: linear-gradient( 135deg, #120000 10%, #000000 100%);

}
header {
	background: url('./img/campbell-3ZUsNJhi_Ik-unsplash.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #ed1010f1;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #24000062 10%, #3300036b 100%);
	
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 80px;
	margin-bottom: 30px;
}

.h2-veiculo {
    color: #d40000;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 10px;
    width: 150px;
    height: 10px;
    
    text-align: center;
    /*colocar só a borda de baixo, dando impressao de margem*/
    
    border-bottom: 2px solid #d40000;
    padding-bottom: 40px;
    /*aumentar a margem da borda de baixo*/
    margin-bottom: 20px;

}

.valor {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    background-color: #f4d1d1;
    padding: 5px;

}

.valor:hover {
    background-color: #ff0000;
    color: #f4d1d1;
    transition: 0.5s;
}

.titulo {
    color: #ff0000;
    text-align: center;
    margin: 70px auto; /* Atualizado */
    
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #ff0000;
    padding: 10px;
    width: 20%;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.saiba-mais {
	border: none;
	outline: none;
	padding: 10px 20px;
	border: 50px;
	color: #f4d1d1;
	background: #8b0000;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.saiba-mais:hover {
    background: #272020;
    color: #ff0000;
    transition: 0.5s;
}
.saiba-mais:hover{
	cursor: pointer;
}

.p-veiculos {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #780000;
    
}

.btn-ver-mais {
    display: block; /* Adicionado */
    width: 100px; /* Adicionado */
    text-align: center;
    margin: 0 auto;
    /*nao vai ter borda sem ser na parte de baixo*/
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #d40000;
    color: #d40000;
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    background-color: transparent;
}

.paragrafo {
    letter-spacing: 2px;
}

.lista-veiculos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* Adicione esta linha */
    font-family: 'Orbitron', sans-serif;
    
    

    margin: 40px
}


.veiculo {
    border-radius: 20px;
    border-color: #a00000;
    border-style: solid;
    border-width: 4px;
    margin: 40px;
    padding: 20px;
    background-color: #FFF;
    
}

.veiculo:hover {
    background-color: #f4d1d1;
    transition: 0.5s;
    padding: 40px;
    margin: 50px;
}


.imagens {
    width: 100%;
    margin: 80px auto;
    overflow: hidden;
    border: 2px solid none;
}

.imagem {
    width: 200px;
    height: 150px;
    margin-right: 30px;
    /*cor na imagem tudo em preto em branco*/
    filter: grayscale(100%);
    transition: 0.5s;
}

.carrosel-imagem {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

.carousel-imagem img {
    width: 100%;
    border: 2px solid #ddd;
}


